# Environments
.env
.venv/
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ruff_cache/
.mypy_cache/
.ty_cache/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Frontend
frontend/node_modules/
frontend/dist/

# Build/Dist
build/
dist/
*.egg-info/

# OS
.DS_Store
Thumbs.db

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

.abstra/

tempCodeRunnerFile.py

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/

# Streamlit
.streamlit/secrets.toml

# Media assets
media/